body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    color: #3f3f3f;
    font-size: 40px;
}
h2, h3 {
    color: #3f3f3f;
    font-size: 30px;
}

.navbar {
    background-color: #ffffff;
    color: #fff;
    
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    display: inline;
    margin-right:20px;
    
}

.nav-links li a {
    color: #ca0000;
    text-decoration: none;
}
/* Estilos de los cursos */
.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

.course {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(300px - 20px);
    max-height: 200px; /* Establecer la altura máxima */
    overflow: hidden; /* Ocultar el desbordamiento vertical */
}

.course h2 {
    color: #6a1b9a; /* Color morado */
    margin-top: 0;
}

.course p {
    color: #666;
}

/* Estilos de los enlaces */
a {
    color: #6a1b9a;
    text-decoration: none;
}
.col1 {
    float: left;
    width: 33.3%;
    text-align: center;
  }
  
  .col1 img {
      max-width:90%;
      padding: 5%;
  }
  .col2 {
    float: left;
    width: 33.3%;
    text-align: center;
  }
  
  .col2 img {
      max-width:90%;
      padding: 5%;
  }
  
  /* Estil del peu... */
  
  
  /* Punt de ruptura en 620px per a pantalles menudes... */
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .col1 {
      width: 100%;
    }
  }

a:hover {
    text-decoration: underline;
}

    }
}
